@{
    ViewData["Title"] = "Home Page";
    @ViewBag.msg
}

<div class="text-center">
    <h1 class="display-4">Portal de Projetos</h1>
    <p>Projeto sobre <a href="https://docs.microsoft.com/aspnet/core">building JWT ASP.NET Core</a>.</p>
   </div>
<div class="card mb-3" style="max-width: 820px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./image/seguranca.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Projeto JWT</h5>
                <p class="card-text">O JSON Web Token é um padrão da Internet para a criação de dados com assinatura opcional e/ou criptografia cujo payload contém o JSON.</p>
                <p class="card-text"><small class="text-muted">Ao oferecer o token, você aumenta a segurança dessas informações </small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 820px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="./image/ecomerce.webp" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Projeto E-Comerce</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>

<br />
<article class="blog-post">
    <h3 class="blog-post-title">Exemplo de Texto para Site</h3>
    <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <blockquote>
        <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
    </blockquote>

    <br />
    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <h3>Exemplo para tablelas</h3>
    <p>And don't forget about tables in these posts:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alice</td>
                <td>10</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Bob</td>
                <td>4</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Charlie</td>
                <td>7</td>
                <td>9</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Totals</td>
                <td>21</td>
                <td>23</td>
            </tr>
        </tfoot>
    </table>

    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
</article>